header {
   background-color: #00214d; 
  z-index: 2;
  width: 100%;
  max-width: 100%; /* Garante que não ultrapasse a largura da tela */
  color: white;
  display: flex;
  flex-direction: column; /* Alterado de coluna para linha */
  justify-content: center; /* Espaça os itens para as extremidades */
  align-items: center; /* Centraliza os itens verticalmente */
  box-sizing: border-box; 
  height: 200px;
  padding: 20px;
  box-sizing: border-box; /* Inclui padding e bordas na largura total */
  overflow-x: hidden; /* Evita rolagem horizontal */
  border-radius: 20px; /* Arredonda as bordas */
}

.container-bingo  {
  perspective: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: #00214d;
}

.bingo-3d.bingo {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-right: 20px;
  font-size: 100px;
  font-weight: bold;

  letter-spacing: 10px;
  color: transparent;
  background: linear-gradient(45deg, #002fff, hsl(0, 100%, 53%), #eeff00, #00ffff, #0000ff, #ff00ff);
  background-size: 300%;
  background-clip: text;
  -webkit-background-clip: text;
  animation: gradient-move 5s infinite linear, light-effect 2s infinite ease-in-out;
  
  text-shadow: 
    1px 1px 5px rgba(255, 255, 255, 0.8), 
    0 0 10px rgba(255, 255, 255, 0.8);
}

@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@keyframes light-effect {
  0%, 100% {
    text-shadow: 
      1px 1px 5px rgba(255, 255, 255, 0.8), 
      0 0 10px rgba(255, 255, 255, 0.8), 
      0 0 20px rgba(255, 0, 0, 0.6);
  }
  50% {
    text-shadow: 
      2px 2px 15px rgba(255, 255, 255, 1), 
      0 0 25px rgba(0, 255, 255, 0.8), 
      0 0 30px rgba(0, 0, 255, 0.8);
  }
}
.bingo-3d.live{
  margin-block-start: 0;
  margin-block-end: 0;
  
  font-size: 100px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: transparent;
  background: linear-gradient(45deg, #ff0000, hsl(234, 100%, 53%), #eeff00, #00ffff, #0000ff, #ff00ff);
  background-size: 300%;
  background-clip: text;
  -webkit-background-clip: text;
  animation: gradient-move 5s infinite linear, light-effect 2s infinite ease-in-out;
  
  text-shadow: 
    1px 1px 5px rgba(255, 255, 255, 0.8), 
    0 0 10px rgba(255, 255, 255, 0.8);
}

@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@keyframes light-effect {
  0%, 100% {
    text-shadow: 
      1px 1px 5px rgba(255, 255, 255, 0.8), 
      0 0 10px rgba(255, 255, 255, 0.8), 
      0 0 20px rgba(255, 0, 0, 0.6);
  }
  50% {
    text-shadow: 
      2px 2px 15px rgba(255, 255, 255, 1), 
      0 0 25px rgba(0, 255, 255, 0.8), 
      0 0 30px rgba(0, 0, 255, 0.8);
  }
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center; /* Centraliza os itens do menu */
  flex-wrap: wrap; /* Ajusta itens para caberem em múltiplas linhas se necessário */
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

nav ul li a:hover {
  text-decoration: underline;
}
.header-main form{
  padding-bottom: 10px;
}
.header-main button{
  padding: 4px;
  border-radius: 4px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
.header-main button:hover {
  background-color: #0056b3; /* Cor de fundo ao passar o mouse */
  text-decoration: none; /* Garante que o sublinhado não volte no hover */
}

.header-main input{
  padding: 4px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px; 
   margin-inline: 5px;
}
.Link-Home{
  text-decoration: none;
  margin-inline: 5px;
  align-items: center;
  padding: 4px;
  border-radius: 4px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
.Link-Home:hover {
  background-color: #0056b3; /* Cor de fundo ao passar o mouse */
  text-decoration: none; /* Garante que o sublinhado não volte no hover */
}
/* Media Query para telas menores */
@media (max-width: 768px)  {
  header {
    flex-direction: column; /* Para telas pequenas, empilhar os itens */
    height: auto; /* Ajusta altura */
    padding: 10px;
  }

  nav ul {
    flex-direction: column; /* Muda a direção dos itens do menu */
    align-items: center;
  }

  nav ul li {
    margin: 10px 0;
  }

  nav ul li a {
    font-size: 14px;
  }

  /* Ajustes para o container bingo */
  .container-bingo {
    font-size: 80%;
    flex-direction: column; /* Empilhar itens */
    height: auto; /* Altura ajustável */
    padding: 10px; /* Reduzir padding */
  }

  .bingo-3d.live {
    font-size: 60px;
  }
  .bingo-3d.bingo {
    font-size: 60px;
  }

}

/* Media Query para telas entre 769px e 1199px */
@media (max-width: 1199px) and (min-width: 769px) {
  header {
    width: 100%;
  }
}
