.produto-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colunas de tamanhos iguais */
    gap: 8px; /* Espaço entre os itens */
    max-width: 600px; /* Limita a largura total */
    
}

.produto-interno-cartela {
    background: #ffad09;
    width: 285px; /* Ajusta a largura para caber no grid */
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Conteúdo em coluna */
    border-radius: 10px;
    padding: 10px;
    color: #fff;
    position: relative;
    overflow: hidden;
    
}

.produto-preco h4{
    margin-block-start: 0.1em;
    margin-block-end: 1.2em;
    height: 1px;
}
.produto-redondo-Id .produto-interno-cartela{
    background-color: #ff0909;
}

.produto-redondo-Id {
    
    width: 100%;
    height: 110px;
    background: #3f47342e;
    border-radius: 10px 10px 50% 50%;
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
}

.produto-redondo-Id h3{
   display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
Fundo .produto-table{
    width: 100%; 
}

.produto-table tbody {
    border-collapse: collapse;
   
    
}

.produto-table td {
    border-radius: 10px;
  margin-inline: 1px;
    border: 3px solid #fffbfb;
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
}



.produto-carrinho-botton button{
    padding: 4px;
    border-radius: 4px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
.produto-carrinho-botton button:hover {
    background-color: #0056b3; /* Cor de fundo ao passar o mouse */
    text-decoration: none; /* Garante que o sublinhado não volte no hover */
  }


.produto-interno-cartela:hover,
.produto-interno-cartela:active {
 
    transform: scale(1.05);
    box-shadow: 0 20px 25px -5px  rgba(248, 248, 248, 0.9); /* Ajuste o box-shadow para incluir um deslocamento */
}
.ver-carrinho{
    
     display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column; 
  
}
.ver-carrinho button{
margin-top: 15px ;
margin-bottom: 9px;
    padding: 4px;
    border-radius: 4px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
.ver-carrinho button:hover {
    background-color: #0056b3; /* Cor de fundo ao passar o mouse */
    text-decoration: none; /* Garante que o sublinhado não volte no hover */
  }


.color-0 {
    background-color: #009c05; /* Cor 1 */
}

.color-1 {
    background-color: hsl(293, 88%, 27%); /* Cor 2 */
}

.color-2 {
    background-color:#000a9c;; /* Cor 3 */
}

.color-3 {
    background-color: #ff0909 /* Cor 4 */
}

.color-4 {
    background-color: hsl(293, 88%, 27%); /* Cor 5 */
}

.pagination {
    margin-top: 20px;
}
@media (max-width: 768px) {
    .produto-main {
        grid-template-columns: 1fr; /* 1 coluna em vez de 2 */
        max-width: 100%; /* A largura se ajusta à tela */
        margin-right: 7px;
    }
    

    .produto-interno-cartela {
        
        width: 95%; /* Ajusta a largura dos itens */
         /* Ajusta a altura para manter a proporção */
    }

    .produto-redondo-Id {
        height: 80px; /* Ajusta a altura do elemento redondo */
    }
    

    .produto-carrinho-botton button {
        font-size: 14px; /* Ajusta o tamanho da fonte para telas menores */
    }

    .ver-carrinho button {
        font-size: 14px; /* Ajusta o tamanho da fonte para telas menores */
    }
}

